.font-small {
  font-size: 13px;
}
.font-medium {
  font-size: 16px;
}
.font-large {
  font-size: 32px;
}
.font-xl {
  font-size: 48px;
}
.btn-floating i {
  font-size: 1.3rem;
}
.btn-floating.btn-large i {
  font-size: 1.8rem;
}
.semi-bold {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}
.font-capitalize {
  text-transform: capitalize;
}
.text-justify {
  text-align: justify!important;
}
