.contPriv{
    width: 150px;
    height: 150px;
    padding: 1%;
    color:white;
}
.contPriv:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}
.contPriv:not(:hover){
    position: relative;
    z-index: 0;
}
.size-icon{
    font-size: 60px;                
}